*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./media/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

main{
    height: 32.5rem;
    width: 29.5rem;
    background-color: white;
    margin: 7.5rem auto;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 3rem;
    padding-top: 4rem;
}

header p{
    height: 0.5rem;
    width: 2rem;
    color: blue;
    margin-top: 1.5rem;
}

#ticket h1{
    color: #3b8acf;
    font-size: 4rem;
    font-weight: 900;
    font-family: sans-serif;
}

#ticket h4{
    color: #b4b9bd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    margin-top: -0.5rem;  
}

span{
    display: flex;
    justify-content: space-evenly;
    padding-right: 5rem;
    gap: 2rem;
}

#flight h4{
    color: #b4b9bd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#flight h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}

img{
    width: 11.5rem;
    height: 12rem;
}

.code{
    width: 40%;
    height: 37%;
    margin-top: 0.9rem;
    margin-left: 15.5rem;
}

#details{
    width: 40%;
    height: 37%;
    margin-top: -11rem;
    margin-left: 3rem;
}

.info{
    padding-bottom: 1.2rem;
}

.info h4{
    color: #b4b9bd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}